
			body 
			{
				background: -webkit-radial-gradient(center, ellipse cover, #1e5799 0%,#7db9e8 100%);
				margin:0;
				overflow:hidden;
			}
			.options
			{
				display:table;
				height:90px;
				color:white;
				font-size:20px;
				margin-bottom:25px;
				width:100%;
			}
			.options > div 
			{
				width:33.3%;
				display:table-cell;
				text-align:center;
				vertical-align:middle;
			}
			.outercontainer
			{
				background:white;
				width:100%;
				overflow:hidden;
			}
			.slidecontainer
			{
				background:white;
				width:300%;
			}
			.slidecontainer > div
			{
				width:32%;
				display:inline-block;
				height:100%;
				text-align:center;
			}
			#trianglecontainer
			{
				position:relative;
			}
			#triangle:before, #triangle:after 
			{
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				border: 28px solid transparent;
			}

			#triangle:after 
			{
				border-bottom-color: #fff; 
				position: absolute;
				top: -56px;
				z-index: 1;
			}
			#slide2
			{
				-webkit-transition:opacity .2s;
			}
			.in
			{
				opacity:1;
			}
			.out
			{
				opacity:0;
			}
